<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftFlatBuffers-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SwiftFlatBuffers-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>SwiftFlatBuffers-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SwiftFlatBuffers-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EAA7F3BE1ED56B4C003C8536</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAA7F3D01ED56C79003C8536</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAA7F3DD1ED56D22003C8536</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAA7F3EA1ED56D6E003C8536</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
